﻿@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Dashboard (панель адміністратора)</h1>
</div>

<div>
    <h2>Товарні групи</h2>
    <form>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-name-addon"><i class="bi bi-bag-check"></i></span>
                    <input name="group-name" type="text" class="form-control" placeholder="Назва"
                           aria-label="Назва" aria-describedby="group-name-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-description-addon"><i class="bi bi-card-text"></i></span>
                    <input name="group-description" type="text" class="form-control" placeholder="Опис"
                           aria-label="Опис" aria-describedby="group-description-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-slug-addon"><i class="bi bi-link"></i></span>
                    <input name="group-slug" type="text" class="form-control" placeholder="Посилання"
                           aria-label="Посилання" aria-describedby="group-slug-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile02"><i class="bi bi-cloud-upload"></i></label>
                    <input name="group-img" type="file" class="form-control" id="inputGroupFile02">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Додати</button>
    </form>
</div>