@model ASP_32.Models.Home.HomeCategoryViewModel
@{
    ViewData["Title"] = "Category Page";
}

@if (Model.ProductGroup == null)
{

    <div class="alert alert-danger" role="alert">
        Запитаний розділ не існує або був видалений
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Розділ @Model.ProductGroup.Name</h1>
    </div>
    @foreach(var product in Model.ProductGroup.Products)
    {
        <p>@product.Name</p>
    }
}
